[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
jedi = "*"
prospector = {extras = ["with_everything"],version = "*"}
bandit = "*"
black = "*"
pydocstyle = "*"
kaggle = "*"

[packages]
torch = {file = "https://download.pytorch.org/whl/cu100/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl"}
torchvision = "*"
pandas = "*"
python-dotenv = "*"
pyyaml = "*"
black = "*"
neovim = "*"
spacy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
